/* /Pages/Index.razor.rz.scp.css */
/* /Shared/Input.razor.rz.scp.css */
.prompt[b-55ugd8rzcj] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    color: #1375d0;
}

.inputline[b-55ugd8rzcj] {
    display: flex;
}


@keyframes type-b-55ugd8rzcj {
    0% {
        bottom: -0.2em;
        opacity: 1;
    }

    50% {
        bottom: 0.2em;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.input[b-55ugd8rzcj] {
    flex-grow: 1;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ytkmj73484] {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* /Shared/Terminal.razor.rz.scp.css */
.container[b-6bujomcsux] {
    padding: 0.3em;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    width:100%;
}
/* /Shared/TerminalLine.razor.rz.scp.css */
.prompt[b-pakxje7oqg] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    color: #1375d0;
}

.inputline[b-pakxje7oqg] {
    display: flex;
}


@keyframes type-b-pakxje7oqg {
    0% {
        bottom: -0.2em;
        opacity: 1;
    }

    50% {
        bottom: 0.2em;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.input[b-pakxje7oqg] {
    flex-grow: 1;
}
/* /Shared/TitleBarButton.razor.rz.scp.css */
.icon[b-oli4q7ei10]{
    margin-left:6px;
    cursor:pointer;
}
/* /Shared/Window.razor.rz.scp.css */
.window_frame[b-ciailuzo8z] {
    box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.67);
    border-radius: 5px;
    border: 1px solid black;
    background: #9e13d025;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    backdrop-filter: hue-rotate( 120deg ) blur(1px);
    min-height: 40px;
    min-width: 100px;
    position: absolute;
}

.title_bar[b-ciailuzo8z] {
    display: flex;
    align-items: center;
    color: gray;
    border-bottom: 1px solid black;
    background: #4C5B5C;
    padding: 2px 5px 2px 5px;
    justify-content: space-between;
    cursor: grab;
}

.button_div[b-ciailuzo8z] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    color: black;
}

.window_content[b-ciailuzo8z]{
    flex-grow:1;
    display:flex;
    overflow:hidden;
}
