@inject Blazored.LocalStorage.ISyncLocalStorageService  localStorage
@inherits LayoutComponentBase
<CascadingValue Value="themeController">
    <div class="page @(themeController.SelectedTheme)">
        <Window Title="Will Boulton">
            @Body
        </Window>
    </div>
</CascadingValue>
@code{

    ThemeController themeController;

    protected override void OnInitialized()
    {

        themeController = new ThemeController(localStorage);

        themeController.PropertyChanged += ThemeChanged;
        


        base.OnInitializedAsync();
    }

    private void ThemeChanged(object sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(ThemeController.SelectedTheme))
        {
            StateHasChanged();
        }
    }
}