@using TerminalSite.Commands

<div class="terminal">
    @foreach (var item in lines)
    {
        <TerminalLine Parent="this" @key="item.Key"/>
    }
</div>
@code {
    List<TerminalLine> lines;

    protected override void OnInitialized()
    {
        commandOptions = new Dictionary<string, Command>();
        lines = new List<TerminalLine>() { new TerminalLine() { Parent = this } };
        commands = new List<Command>()
        {
            new CatCommand(),
            new ClearCommand(),
            new HelpCommand()
        };
    }

    private List<Command> _commands;

    public List<Command> commands
    {
        get => _commands;
        private set
        {
            _commands = value;

            foreach (var command in value)
            {
                commandOptions.Add(command.CommandKey.ToLower(), command);
            }
        }
    }

    public string RunCommand(string key, TerminalOutput output,params string[] parameters)
    {
        if(commandOptions.TryGetValue(key.ToLower(), out Command command))
        {
            command.Response(this, parameters);
        }
        return "";
    }

    public List<string> PreviousCommands = new List<string>();

    public void AddNew()
    {
        lines.Add(new TerminalLine() { Parent = this });
        StateHasChanged();
    }

    public void Clear()
    {
        lines = new List<TerminalLine>();
        StateHasChanged();
    }

    public  Dictionary<string, Command> commandOptions;
}
