@using TerminalSite.Commands
<link href="css/Terminal.css" rel="stylesheet" />
<div class="terminal">
    @foreach (var item in lines)
    {
        <TerminalLine Parent="this" @key="item.Key"/>
    }
</div>
@code {
    List<TerminalLine> lines;

    protected override void OnInitialized()
    {
        lines = new List<TerminalLine>() { new TerminalLine() { Parent = this } };
    }

    public string RunCommand(string key, TerminalOutput output,params string[] parameters)
    {
        var commands = Commander.commands;
        if (Commander.commands.TryGetValue(key.ToLower(), out Command command))
        {
            command.Execute(this, output, parameters);
        }
        return "";
    }

    public List<string> PreviousCommands = new List<string>();

    public void AddNew()
    {
        lines.Add(new TerminalLine() { Parent = this });
        StateHasChanged();
    }

    public void Clear()
    {
        lines = new List<TerminalLine>();
        StateHasChanged();
    }

}
