.terminal{

    background: transparent;
    outline: none;
    font: inherit;
    border: none;
    color: #d08813;
    font-family: monospace;
    caret-color: #d08813;
}

.container {
    padding: 0.3em;
}