@using TerminalSite.Commands
@inject IJSRuntime JS

<link href="css/Terminal.css" rel="stylesheet" />
<div class="terminal container" @ref="scroll">
        @foreach (var item in lines)
        {
            <TerminalLine Parent="this" @key="item.Key" />
        }
</div>
@code {
    private List<TerminalLine> lines;

    public CommandStore commandStore;

    protected override void OnInitialized()
    {
        commandStore = new CommandStore();
        lines = new List<TerminalLine>() { new TerminalLine() { Parent = this } };
    }

    ElementReference scroll;

    public void AddNew()
    {
        lines.Add(new TerminalLine() { Parent = this });
        StateHasChanged();
    }

    public void Clear()
    {
        lines = new List<TerminalLine>();
        StateHasChanged();
    }

    public void scrollToBotton()
    {
        JS.InvokeVoidAsync("ScrollToBottom", scroll);
    }

    protected async override void OnAfterRender(bool firstRender)
    {
        scrollToBotton();
    }
}
