.window_frame {
    box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.67);
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    backdrop-filter: hue-rotate( 120deg ) blur(1px);
    min-height: 40px;
    min-width: 100px;
    position: absolute;
}

.dark {
    background: #9e13d025;
}

.light {
    background: #61ec2f25;
}

.title_bar {
    display: flex;
    align-items: center;
    color: gray;
    border-bottom: 1px solid black;
    background: #4C5B5C;
    padding: 2px 5px 2px 5px;
    justify-content: space-between;
    cursor: grab;
}

.button_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    color: black;
}

.window_content{
    flex-grow:1;
    display:flex;
    overflow:hidden;
}
