html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 100%;
    background: #2D2D2D;
    background-image: radial-gradient(#d08813 5%, transparent 0);
    background-size: 30px 30px;
}

.app{
    height:100%
}
