@page "/"
@inject IJSRuntime JSRuntime
@using TerminalSite.Configuration;

<div class="page">
    <Window Title="Will Boulton">
        <Terminal />
    </Window>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setTitle", SiteConfig.config["SiteName"]); ;
    }
}