@page "/Portfolio"
<Window Title="Will Boulton" isMaximised="true">
    <div class="portfolio @(themeController.currentTheme switch{ Theme.Dark => "darkmode", Theme.Light => "lightmode" })">
        <h3>Portfolio</h3>
    </div>
    
</Window>
@code{
    [CascadingParameter] public ThemeController themeController { get; set; }
}
