@using CommandSite.Commands

<div class="terminal">
    @foreach (var item in lines)
    {
        <TerminalLine Parent="this" @key="item.Key"/>
    }
</div>
@code {

    public Terminal()
    {
        lines = new List<TerminalLine>(){new TerminalLine() { Parent = this } };

        commandOptions = new Dictionary<string, Command>()
        {
            {
                "cat",
                new CatCommand(this)
            },
            {
                "git",
                new MultiValueCommand("Displays github URL","Display github URL",this,"GitHub", "https://github.com/Will-Boulton")
            },
            {
                "help",
                new HelpCommand(this)
            },
            {
                "clear",
                new ClearCommand(this)
            }
        };
    }

    List<TerminalLine> lines;

    public Stack<string> commands = new Stack<string>();

    public void AddNew()
    {
        lines.Add(new TerminalLine() { Parent = this });
        StateHasChanged();
    }

    public void Clear()
    {
        lines = new List<TerminalLine>();
        StateHasChanged();
    }

    public  Dictionary<string, Command> commandOptions;
}
