



.prompt {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: pre;
    color: #1375d0;
}

.terminal {
    background: transparent;
    outline: none;
    font: inherit;
    border: none;
    color: #d08813;
    font-family: monospace;
    caret-color: #d08813;
}

.inputline {
    display: flex;

}

.output {
    white-space: pre;
    -webkit-animation: type .5s 1s steps(20, end) forwards;
    -moz-animation: type .5s 1s steps(20, end) forwards;
    -o-animation: type .5s 1s steps(20, end) forwards;
    animation: type .5s 1s steps(20, end) forwards;
}

.input {
    flex-grow: 1;
}