.window_frame {
    box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.67);
    width: 70%;
    height: 70%;
    border-radius: 5px;
    border: 1px solid black;
    background: #262626E6;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.title_bar {
    display: flex;
    color: gray;
    border-bottom: 1px solid black;
    background: #4C5B5C;
    width:100%;
}

.window_content{
    flex-grow:1;
    overflow-y:scroll;
}