<div class="window_frame">
    <div class="title_bar"><div>@Title</div><div class="button_div"><i class="fab fa-github"></i></div></div>
    <div class="window_content">@ChildContent</div>
</div>

@code {
    [Parameter]
    public string Title { get;set;}
    [Parameter]
    public RenderFragment ChildContent { get;set;}
}
