<div class="window_frame">
    <div class="title_bar"><h4>@Title</h4></div>
    <div class="window_content">@ChildContent</div>
</div>

@code {
    [Parameter]
    public string Title { get;set;}
    [Parameter]
    public RenderFragment ChildContent { get;set;}
}
