@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
html, body {
    font-family: Jetbrains-Mono;
    height: 100%;
    min-height: 100%;
    margin : 0px;
    background: #2D2D2D;
    background-image: radial-gradient(#d08813 5%, transparent 0);
    background-size: 30px 30px;
}

.app{
    height:100%
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@font-face{
    font-family:"Jetbrains-Mono";
    src:url("../fonts/JetBrainsMono[wght].ttf") format('truetype')
}