.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #2D2D2D;
    background-image: radial-gradient(#d08813 5%, transparent 0);
    background-size: 30px 30px;
}
