@foreach (var line in lines)
{
    <p class="terminal output" >@((MarkupString)line)</p>
}

@implements ITerminalResponse

@code {
    public List<string> lines  = new List<string>();

    public override Render()

    public void AddLine(string line)
    {
        lines.Add(line);
        StateHasChanged();
    }
}
